<?php

$db_config = array(
	'host' => 'localhost',
	'user' => 'plates',
	'pass' => 'secret123',
	'db' => 'plates'
	);

$recaptcha_config = array(
	'public' => 'xxxxxxx',
	'private' => 'xxxxxxx'
	);

// E-mail address for alerts like "new review submitted"
$alerts_email = 'plates@csh.rit.edu';

